@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sidebar ul {
  padding: 0px !important;
}

.sidebar ul li:hover {
  background-color: rgb(177, 184, 216);
}

/* Modifier la couleur du texte en blanc lorsqu'un élément est survolé */
.sidebar ul li a:hover .fs-5 {
  color: white !important;
}
.bg-custom-color {
  background-color: #2e80d8; /* Couleur bleu foncé */
}